/*  Design consistency notes:
    Selectors should be mentioned in the order they appear on screen
*/

/*Fonts*/



/*Keyframes*/



/*Element styling*/

body {
    background-color: rgb(255, 177, 59);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

form * {
    margin-bottom: .2em;
    width: 30vw;
}

form input:nth-child(6) {
    width: 15vw;
    margin-left: 7.5vw;
    background-color: rgb(159, 85, 255);
    color: rgb(255, 255, 255);
    font-weight: 700;
}

/*Class styling*/



/*ID styling*/

#mainstay {
    text-align: center;
    margin-top: 3em;
}

#terms {
    display: inline-flex;
    padding: .2em;
    border: 1px solid rgba(0, 0, 0, .6);
    background-color: rgb(255, 255, 255);
    font-size: .8em;
    text-align: left;
}

#terms input:nth-child(1) {
    max-width: 16px;
    min-width: 16px;
    margin-right: 1em;
}

#past {
    text-align: center;
}

/*@media queries*/